html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}

#drum{
    background: url("../img/map.png");
    background-size: cover;
}
a{
    text-decoration: none !important;
}

#test{
    background: url('img/map.png');
    background-size: cover;
}

.btn a{
    color: #fff;
}

.btn{
    font-size: 3em;
    padding: 15px;
    margin-top: 3%;
}

.btnBack{
    font-size: 2em;
    padding: 10px;
    margin-bottom: 3%;
}
