html, body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

div.robotTitle{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 3%;
    color: #fff;
    background-color: #209a34;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
}

div.registry {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

div.topic {
    margin: 4%;
    border: 3px solid black;
    border-radius: 12px;
    padding: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    height: 100%;
}

h1.topic-name {
    font-size: 16pt;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    padding-bottom: 14px;

}
.gauche{
    width: 50%;
    float: left;
    color: #fff;
}

#camera{
    margin-left: 10%;
}

.logoMotor{
    margin-left: 30%;
}

.logoCam{
    margin-left: 35%;
}

div.entry{
    border: solid 2px black;
    border-radius: 2px;
    padding: 3px;
    margin: 7px;
}

div.streamer, #svg{
  background-color: #209a34;
  color: #fff;
}

div.datahub {
    color: white;
    background-color: black;
}

div.datalink {
    color: black;
    background-color: white;
}

h2.entry-name {
    font-size: 12pt;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

p.entry-addr {
    font-size: 9pt;
    padding: 0px;
    margin: 0px;

}
