html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none !important;
}



.btn{
    font-size: 3em;
    padding: 15px;
    margin-top: 32%;
}



.parameter{
    font-size: 2em;
    font-weight: bold;
}
